{% extends 'homepage/base.html' %}


{% block body %}
    <div class="container-fluid d-flex align-items-center min-vh-100" style="height: 350px; background-color: #8b5798; padding-top: 30vx;">
            
        <div class="container-fluid text-center">
            <h1 class="display-3">What they said.</h1>
        </div>
    </div>

    <div class="container-fluid d-flex align-items-center min-vh-100" style="height: 150px; background-color: #8b5798;">
        
        <div class="container-fluid text-center">
            <h1>Leave a review.</h1>
            <form>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="" aria-label="Name">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="" aria-label="Comments">
                    </div>
                    <button class="btn btn-custom my-2 my-sm-0" type="submit" style="background-color: #4e1a5c;">Send</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}